Last login: Fri Jun 17 17:05:51 on ttys000
sunghun@gimseonghun-ui-MacBookAir ~ % cd Documents/GitHub 
sunghun@gimseonghun-ui-MacBookAir GitHub % ls
CT_CommandLineTool		hongkimDaonProject
Onestep				onestep_admin
Onestep_AdminWeb		wanted_PreOnBoarding_practice
coupleDayProject		wanted_pre_on_boarding_practice
exchange_rate_calculator
sunghun@gimseonghun-ui-MacBookAir GitHub % cd wanted_pre_on_boarding_practice 
sunghun@gimseonghun-ui-MacBookAir wanted_pre_on_boarding_practice % ls
wanted_pre_on_boarding_practice
wanted_pre_on_boarding_practice.xcodeproj
sunghun@gimseonghun-ui-MacBookAir wanted_pre_on_boarding_practice % git branch
* main
sunghun@gimseonghun-ui-MacBookAir wanted_pre_on_boarding_practice % vim .gitignore
sunghun@gimseonghun-ui-MacBookAir wanted_pre_on_boarding_practice % cd ..
sunghun@gimseonghun-ui-MacBookAir GitHub % ls
CT_CommandLineTool		hongkimDaonProject
Onestep				onestep_admin
Onestep_AdminWeb		wanted_PreOnBoarding_practice
coupleDayProject		wanted_pre_on_boarding_practice
exchange_rate_calculator
sunghun@gimseonghun-ui-MacBookAir GitHub % git wanted_PreOnBoarding_practice 
git: 'wanted_PreOnBoarding_practice' is not a git command. See 'git --help'.
sunghun@gimseonghun-ui-MacBookAir GitHub % cd wanted_PreOnBoarding_practice 
sunghun@gimseonghun-ui-MacBookAir wanted_PreOnBoarding_practice % ls
README.md				wanted_PreOnBoarding_practice.xcodeproj
wanted_PreOnBoarding_practice
sunghun@gimseonghun-ui-MacBookAir wanted_PreOnBoarding_practice % vim .gitignore


# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode,cocoapods

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/

## APIKEY
WeatherInfo.plist

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
".gitignore" 112L, 2972B

